body{
    margin: 0;

}
.sm-wrapper{
    margin-top: 100px;
}

.sidemenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidemenu a{
    text-decoration: none;
    color: #5b5b5b;
}

.sidemenu .close{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    font-weight: 900;
    margin-left: 50px;
}

/* CONTENT PART */

#pg-content{
    transition: margin-left 0.5s;
    padding: 0;
    margin: 0;
}

#container canvas, #pg-content {
    position: absolute;
  }
 
body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}
input[type=color] {
    visibility: hidden;
  }
  .material-symbols-outlined {
      font-size: 50px;
      color: #5b5b5b;
      font-weight: 900;
      display: inline-block;
      vertical-align: middle;
      padding: 25px;
  }
  .material-symbols-outlined:hover {
      font-weight: 500;
      padding: 25px;
  }
  input[type=range] {
      accent-color: #5b5b5b;
  }
  #myn
  {
      width: 4ch;
      border:0;
      padding: 25px;
      text-align: center;
      font-family: Freehand;
      font-size: 25px;
      font-weight: 900;
      vertical-align: middle;
  }
  #allC
  {
      border:0;
      margin-right: 60%;
      text-align: center;
      font-family: Freehand;
      font-size: 40px;
      color: red;
      font-weight: 900;
      vertical-align: middle;
      background-color: rgba(255,255,255,0.0);
  }
  #allC:hover
  {
      font-weight: 500;
  }
  input[type=file] {
      visibility: hidden;
    }

    #undo
    {
        padding: 25px;
    }
    .navig
    {
        padding-left: 20px;
        font-size:40px;
        font-weight:900;
        font-family: Freehand;
        color:#5b5b5b;
    }
    #canvas
    {
        touch-action:none;
        pointer-events: none;
    }
